nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-family: sans-serif; }
  nav button {
    padding: 10px 12px;
    cursor: pointer;
    border: none;
    color: #ffff;
    background-color: #0ba1a1;
    border-radius: 4px;
    font-weight: 700; }
    nav button:hover {
      transition: 0.5s;
      background-color: teal; }

.formContainer {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 40%;
  margin: auto;
  margin-top: 30px;
  padding: 25px; }
  .formContainer h2 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-family: sans-serif; }
  .formContainer form {
    width: 95%;
    margin: auto; }
  .formContainer input {
    width: 100%;
    padding: 10px;
    margin: 5px 0px 10px 0px; }
  .formContainer select {
    width: 100%;
    padding: 10px;
    margin: 5px 0px 10px 0px; }
  .formContainer label {
    font-family: sans-serif;
    font-size: 14px; }
  .formContainer button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    color: #ffff;
    background-color: #0ba1a1;
    font-weight: 700; }
    .formContainer button:hover {
      transition: 0.5s;
      background-color: teal; }

.formContainer {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 40%;
  margin: auto;
  margin-top: 30px;
  padding: 25px; }
  .formContainer h2 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-family: sans-serif; }
  .formContainer form {
    width: 95%;
    margin: auto; }
  .formContainer input {
    width: 100%;
    padding: 10px;
    margin: 5px 0px 10px 0px; }
  .formContainer select {
    width: 100%;
    padding: 10px;
    margin: 5px 0px 10px 0px; }
  .formContainer label {
    font-family: sans-serif;
    font-size: 14px; }
  .formContainer button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    color: #ffff;
    background-color: #0ba1a1;
    font-weight: 700; }
    .formContainer button:hover {
      transition: 0.5s;
      background-color: teal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
